.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/
**/*_mock.go
exp/
*.exe
*.dll
*.so
*.dylib
ipatool-desktop.exe
build/bin/
*.tsbuildinfo
frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
frontend/package.json.md5